body {
    background-color: #5E7080;
}

.header {
    text-align: center;
    margin: -8px;
    padding: 10px;
}

.header__title {
    margin-top: 0;
}

.main {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 0.34em;
}

.form-help {
    margin-bottom: 50px;
    border-bottom: 1px solid #5E7080;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    text-align: left;
}

.col-50 {
    width: 100%;
    display: flex;
}

.col-100 {
    display: flex;
    width: 100%;
    margin: 10px;
}

.input-label {
    padding: 5px 0;
}

.input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    height: 30px;
    transition: border-color 1ms ease-in, box-shadow 1ms ease-in-out;
}

.text {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    height: 80px;
}

.list {
    list-style: none;
}

.btn {
    padding: 10px 15px;
    width: 100%;
    background-color: #FFE5BD;
    border: none;
    border-radius: 5px;
}

.text:hover {
    cursor: text;
}

.input:hover {
    cursor: text;
    border-color: 1px solid #D6ECFF;
    box-shadow: 0 0 2px 2px #D6ECFF;
}

@media only screen and (min-width: 460px) and (max-width: 600px) {
    .main {
        width: 460px;
        margin: auto;
    }
    
    .col-50 {
        width: 50%;
    }

    .input-label {
        padding: 5px 10px;
    }

    .btn {
        width: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .main {
        width: 600px;
        margin: auto;
    }
    
    .col-50 {
        width: 50%;
    }

    .input-label {
        padding: 5px 10px;
    }
    
    .btn {
        width: auto;
        margin-left: auto;
    }

}

@media only screen and (min-width: 768px) {
    .main {
        width: 768px;
        margin: auto;
    }
    
    .col-50 {
        width: 50%;
    }

    .input-label {
        padding: 5px 10px;
    }

    .btn {
        width: auto;
        margin-left: auto;
    }
}
